.heart {
    position: absolute;
    margin:auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: pink;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.heart::before {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 50px;
    width: 50px;
    top: -25px
}

.heart::after {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0px;
    left:25px
}

@keyframes beat {
    50% {
        transform: scale(1.5) rotate(-45deg);
    }

    100% {
        transform: scale(1.0) rotate(-45deg)
    }
}

.inner {
    margin: auto;
    transform: translateX(50px);
    position: absolute;
    top: 50%;
    transform: translateY(-50px);
    border: 1px solid blue;
    width: 200px;
    height: 100px;
}

.outer {
    position: absolute;
    border: 1px solid red;
    width: 300px;
    height: 200px;
}